.play-video{
    flex-basis: 69%;
    background: #f9f9f9;
    padding-left: 17%;
    padding-bottom: 20px;
}

.large-play-video{
    padding-left: 7%;
}


.play-video video{
    width: 100%;
}

.play-video h3{
    margin-top: 10px;
    font-weight: 600;
    font-size: 22px;
}